.Comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;

}

.Comment > img {
  width: 3rem ;
  height: 3rem ;
  border-radius: 8px;
}

.CommentBox {
  flex: 1;
}

.CommentContent header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.authorAndTime{
  display: flex;
  flex-direction: column;
}
.authorAndTime strong{
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--gray-400)
}

.authorAndTime time{
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
}